---
import Layout from "../layouts/Layout.astro";
import Description from "@/components/Description.astro";
import Tecnologies from "@/components/Tecnologies.astro";
---

<Layout>
    <div class="flex flex-col jutsify-center w-full md:mx-20 lg:mx-40">
        <Description />
        <Tecnologies />
    </div>
</Layout>
