---
import Layout from "../layouts/Layout.astro";
import Description from "@/components/Description.astro";
import Tecnologies from "@/components/Tecnologies.astro";
---

<Layout>
    <div class="">
        <Description />
        <Tecnologies />
    </div>
</Layout>
