---
import ProfilesList from "@/components/ProfilesList.astro";
import Layout from "../layouts/Layout.astro";
import MapList from "@/components/MapList.astro";
import Map from "@/components/Map.astro";
import Graph from "@/components/flowbite/Graph.astro";
import { AccidentesChart } from "@/components/AccidentChart";
---

<Layout>
  <div class="grid grid-cols-12 container">
    <div class="col-span-2 border-r-1 p-6 md:pt-12 sticky top-0 h-screen hidden md:flex">
      <MapList />
    </div>
    <div
      class="col-span-10 flex flex-col overflow-auto h-screen pt-10 md:pt-40"
    >
      <div class="flex w-full">
        <ProfilesList />
        <AccidentesChart client:load />
      </div>
      <Map />
    </div>
  </div>
</Layout>
