---
import Layout from "@/layouts/Layout.astro";
import Clock from "@/components/Clock.astro";
import BtnAlert from "@/components/BtnAlert.astro";

const url = new URL(Astro.request.url);
const status = 0;
const statusNumber = status;
console.log(statusNumber);
---

<Layout>
  <section class="container flex flex-col items-center md:py-20">
    <Clock status={statusNumber} />
    <!-- <Bandwidth /> -->
    <BtnAlert status={statusNumber} href="/work/auth" />
  </section>
</Layout>
