---
interface Props {
  status: number | null;
  href: string;
}
const { status, href } = Astro.props;
import { Icon } from "astro-icon/components";
---

<a href={href}>
  <div
    class={`font-bold self-center rounded-xl border-4 animate-pulse border-solid flex flex-col items-center text-8xl gap-2 justify-center backdrop-blur ${status === 0 ? "bg-green-100/10 border-green-500" : status === 1 ? "bg-yellow-100/10 border-yellow-500" : status === 2 ? "bg-red-400/80 border-red-500" : status === 3 ? "bg-gray-400/80 opacity-50" : ""}`}
  >
    <div class="p-8 text-9xl">
      {status === 0 && <Icon name="tick" class="font-thin cursor-pointer " />}
      {status === 1 && <Icon name="auth" class="font-thin cursor-pointer" />}
      {status === 2 && <Icon name="forb" class="font-thin cursor-pointer" />}
      {status === 3 && <Icon name="offline" class="font-thin cursor-pointer" />}
    </div>
  </div>
</a>
{
  status === 1 || status === 2 ? (
    <a
      href="#"
      class="mt-6 text-xl font-medium mb-20 border-solid border-1 rounded-lg px-6 py-3 bg-red-500 text-white hover:bg-red-500/10 hover:text-red-500 transition ease-in-out duration-300"
    >
      Call Help
    </a>
  ) : status === 3 ? (
    <div class="mt-6 text-xl font-medium mb-20">Are you secure?</div>
  ) : (
    <div class="mt-6 text-xl font-medium mb-20">You are secure</div>
  )
}
