---
import { NumberTicker } from "./magicui/number-ticker";

interface Props {
  status: number | null;
}
const { status } = Astro.props;

const getCurrentTime = () => {
  const now = new Date();
  return {
    hours: now.getHours(),
    minutes: now.getMinutes(),
    seconds: now.getSeconds(),
  };
};
const currentTime = getCurrentTime();


---

<div class="w-full text-center py-6  md:py-20">
  <div
    id="clock"
    class={` font-bold flex items-baseline text-8xl gap-2 justify-center ${ status === 1 ? "text-yellow-500" : status === 2 ? "text-red-500" : status === 3 ? "opacity-50" : ""}`}
  >
    
  {status === 0 ? (
    <>
      <NumberTicker
        client:load
        value={currentTime.hours}
        className="whitespace-pre-wrap text-8xl font-medium tracking-tighter "
      />
      <span>:</span>
      <NumberTicker
        client:load
        value={currentTime.minutes}
        className="whitespace-pre-wrap text-8xl font-medium tracking-tighter "
      />
    </>
  ) : (
    <span class="whitespace-pre-wrap text-8xl font-medium tracking-tighter">
      {`${currentTime.hours}:${currentTime.minutes}`}
    </span>
  )}

  </div>
  {status === 3 && <div class="text-red-500 mt-4 text-xl">Offline</div>}
</div>

<script is:inline>
  const clockElement = document.getElementById("clock");
  const hourTicker = clockElement.children[0];
  const minuteTicker = clockElement.children[2];
  const secondTicker = clockElement.children[4];

  const updateClock = () => {
    const now = new Date();
    hourTicker.value = now.getHours();
    minuteTicker.value = now.getMinutes();
    secondTicker.value = now.getSeconds();
  };

  setInterval(updateClock, 1000);
</script>
