---
import { Icon } from "astro-icon/components";
import img from "@/assets/logo.webp";
import { Image } from "astro:assets";
---

<footer class="backdrop-blur-md rounded-lg shadow-sm container border-1 px-4">
  <br class="w-full max-w-screen-xl mx-auto p-4 md:py-8" />
  <div class="sm:flex sm:items-center sm:justify-between">
    <a
      href="https://flowbite.com/"
      class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"
    >
      <Image src={img} alt="logo" class="w-8" />

      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
        >U-SAFE</span
      >
    </a>

    <ul
      class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400"
    >
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">About</a>
      </li>
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
      </li>
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
      </li>
      <li>
        <a href="#" class="hover:underline">Contact</a>
      </li>
    </ul>
  </div>
  <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
  <div class="flex items-center justify-between">
    <div class="pb-20 md:pb-6 flex flex-col gap-2">
      <p>
        Made with <span class="animate-pulse">❤️</span> by:
      </p>
      <div class="flex flex-wrap gap-6 text-purple-300">
        <a
          class="relative link-underline"
          href="https://www.linkedin.com/in/jordi-saperas-castro"
          target="_blank"
          rel="noopener noreferrer"
        >
          Jordi Saperas Castro
        </a>
        <a
          class="relative link-underline"
          href="https://www.jramma.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          Jramma 🚀
        </a>
        <a
          class="relative link-underline"
          href="https://www.linkedin.com/in/valdemarpereiradematos/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Valdemar Pereira
        </a>
        <a
          class="relative link-underline"
          href="https://www.linkedin.com/in/eduardo-bernal-perez/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Eduardo Bernal Pérez
        </a>
      </div>
    </div>
    <a href="https://github.com/jramma/dashboard" target="_blank">
      <Icon name="github" class="text-3xl" />
    </a>
  </div>
</footer>

<div class="w-full md:py-20"></div>

<style>
  @keyframes underline-animation {
    0% {
      transform: scaleX(0);
      transform-origin: bottom right;
    }
    50% {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
    100% {
      transform: scaleX(0);
      transform-origin: bottom left;
    }
  }

  .link-underline {
    position: relative;
    display: inline-block;
    color: inherit;
    text-decoration: none;
  }

  .link-underline::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    animation: underline-animation 2s infinite;
  }
</style>
