---
import { Globe } from "./magicui/globe";
---

<section
  class="container flex flex-col text-center items-center justify-center space-y-8 pt-20 relative pb-42 md:pb-62"
>
  <p class="text-5xl md:text-9xl">U-SAFE</p>
  <h1 class="max-w-96 text-lg">
    Enables enterprises to establish and manage controlled physical working
    zones within their facilities to monitor and prevent security incidents.
  </h1>

  <div class="absolute -bottom-32 md:bottom-0 w-full h-72">
    <Globe client:load />
  </div>
</section>
