---
import { Globe } from "./magicui/globe"

---


<section class="container flex flex-col items-center justify-center space-y-8 py-20 relative">
    <p class="text-9xl">Operator</p>
    <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati, ab!</h1>

    <div></div>
    <Globe client:load />


</section>