---
import { Globe } from "./magicui/globe";
---

<section
  class="container flex flex-col items-center justify-center space-y-8 pt-20 relative pb-96"
>
  <p class="text-9xl">Operator</p>a
  <h1>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati, ab!
  </h1>

  <div class="absolute bottom-0 w-full h-72">
    <Globe client:load />
  </div>
</section>
