---
import img from "@/assets/map.png";
import { Image } from "astro:assets";

interface Zone {
  id: number;
  status: number;
  name: string;
  location: {
    lat: number;
    long: number;
    rad: number;
  };
  devices: Record<string, any>;
}

const { zones } = Astro.props;

// Status 0: Green, 1: Red
---

<section class="container flex flex-col pt-6 relative">
  <div id="zones" class="absolute inset-0 grid grid-cols-12 grid-rows-8 gap-1">
    <div
      id="map-zone"
      class="zone border-solid border-yellow-500 bg-yellow-500/50 col-start-1 col-end-7 row-start-6 row-end-8 rounded-md border-1 animate-pulse"
    >
    </div>
    <div
      class="zone border-solid border-green-500 bg-green-500/10 col-start-7 col-end-11 row-start-5 row-end-9 rounded-md border-1"
    >
    </div>
  </div>
  <Image src={img} alt="Map" class="w-full h-auto" />
</section>
<section class="container flex flex-col items-start gap-6 pt-6 pb-30">
  <div class="flex items-center gap-4">
    <div class="bg-red-500 animate-pulse h-4 w-4"></div><p>
      Employee in the restricted area
    </p>
  </div>
  <div class="flex items-center gap-4">
    <div class="bg-yellow-500 animate-pulse h-4 w-4"></div><p>
      Employee authorized in the restricted area
    </p>
  </div>
  <div class="flex items-center gap-4">
    <div class="bg-green-500 animate-pulse h-4 w-4"></div><p>Work area</p>
  </div>
</section>
