---

import ProfileBadge from './ProfileBadge.astro';

interface Props {
  nickname: number;
  status: number;
  avatarUrl: string;
}

const mockUsers = [
    {
        nickname: 'Tim Cook',
        status: 1,
        avatarUrl: "https://api.dicebear.com/7.x/personas/svg?seed=random1"
    },
    {
        nickname: 'Anna Who',
        status: 0,
        avatarUrl: "https://api.dicebear.com/7.x/personas/svg?seed=random2"
    },
    {
        nickname: 'Jack Wolff',
        status: 2,
        avatarUrl: "https://api.dicebear.com/7.x/personas/svg?seed=random3"
    },
    {
        nickname: 'Amanda Woodcock',
        status: 3,
        avatarUrl: "https://api.dicebear.com/7.x/personas/svg?seed=random4"
    },
    {
        nickname: 'Nathan Gateault',
        status: 2,
        avatarUrl: "https://api.dicebear.com/7.x/personas/svg?seed=random5"
    },
    {
        nickname: 'Peter Gutierrez',
        status: 1,
        avatarUrl: "https://api.dicebear.com/7.x/personas/svg?seed=random6"
    },
    {
        nickname: 'Ana Lisa Melán',
        status: 1,
        avatarUrl: "https://api.dicebear.com/7.x/personas/svg?seed=random7"
    },
    {
        nickname: 'James Green',
        status: 3,
        avatarUrl: "https://api.dicebear.com/7.x/personas/svg?seed=random8"
    },

]
---


<div>
    <h1>Profiles Status</h1>
    <ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
       {mockUsers.map((user) => (
            <ProfileBadge profile={user} />
       ))}
     </ul>
     <div class="flex justify-center">
         <a class="w-full text-center mt-4 py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            + View all
        </a>
     </div>
</div>
 