---
import Card from "./ui/Card.astro"
---


<div class="w-full shrink-0 p-6 flex gap-6 relative overflow-x-auto">
    <Card name="Jack Wolff" status="Danger" icon="alert" />
    <Card name="Nathan Gateault" status="Danger" icon="alert" />
    <Card name="Tim Cook" status="Authorized" icon="auth" />
    <Card name="Anna Who" status="Secure" icon="people" />
</div>