---
import { Icon } from "astro-icon/components";

---
<section class="container flex justify-center py-6 md:py-20 flex-col text-center gap-6">
    <h2 class="text-2xl md:text-8xl font-extrabold">Tecnologies</h2>
    <div class="flex items-center justify-between">
        <div class="flex flex-col items-center">
            <Icon name="astro" class="w-20 h-20" />
            <p>Astro</p>
        </div>
        <div class="flex flex-col items-center">
            <Icon name="react" class="w-20 h-20" />
            <p>React</p>
        </div>
        <div class="flex flex-col items-center">
            <Icon name="net" class="w-20 h-20" />
            <p>Netlify</p>
        </div>
    </div>
</section>