---
import { Button } from "@/components/ui/button";
// import { AnimatedCircularProgressBar } from "@/components/magicui/animated-circular-progress-bar";
// import { Globe } from "@/components/magicui/globe";
import Breadcrumb from "@/components/flowbite/Breadcrumb.astro";
---

<div class="container text-primary flex flex-col gap-10 py-20">
  <Breadcrumb />
  <Button>Hello World</Button>
</div>
