---
import Layout from "@/layouts/Layout.astro";
import Clock from "@/components/Clock.astro";
import BtnAlert from "@/components/BtnAlert.astro";

const url = new URL(Astro.request.url);
const status = 1;
const statusNumber = status !== null ? parseInt(status, 10) : null;
console.log(statusNumber);
---

<Layout>
  <section class="container flex flex-col items-center md:py-20">
    <Clock status={statusNumber} />
    <!-- <Bandwidth /> -->
    <BtnAlert status={statusNumber}  href="/work/help"/>
  </section>
</Layout>
<!-- 
    Reloj
    Ancho de banda mejorado para zonas de riesgo

    
    tick verde si estas ok
    tick amarillo zona riesgo pero autorizado
    tick rojo no autorizado con alarma
    4 offline
-->